.homepage {
  text-align: center;
}

.card {
  width: 100%;
}

.content {
  max-width: 600px;
  margin: auto;
  padding: 40px;
}

#button {
  background-color: #4267b2 !important;
  border: none;
  width: 50%;
  float: left;
  cursor: pointer;
}

#button2 {
  background-color: #8b0000 !important;
  border: none;
  width: 50%;
  float: right;
  cursor: pointer;
}

#button3 {
  background-color: #4267b2 !important;
  border: none;
  width: 100%;
  cursor: pointer;
}
