@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(../fonts/font.otf) format("woff");
}

#acebook {
  font-family: MyFont, Arial;
  font-size: 40px;
}

#navbar {
  padding: 0px;
  background-color: #4267b2 !important;
  padding-left: 10px;
}

#container {
  padding: 0px;
  background: #4267b2;
}

#brand {
  padding: 0px;
  position: relative;
  top: 4px;
}
